@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-blues-100: #F8FAFC;
  --color-blues-200: #D9EAFD;
  --color-blues-300: #BCCCDC;
  --color-blues-400: #9AA6B2;
  --color-blues-500: #1B3C53;
}

h1 {
    @apply text-2xl font-bold;
}
